<br>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Oro Verde</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['Compra']">Compra</a>
            <a class="nav-item nav-link" [routerLink]="['Venta']">Venta</a>
        </div>
    </div>
</nav>