<br>
<br>
<hr>
<h2>Venta De Divisa</h2>
<form>
    <div class="form-row align-items-center">
        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="$" #cantidad>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-warning" (click)="Divisa(cantidad.value, 'MXN')">MXN</button>
            <button type="button" class="btn btn-outline-warning" (click)="Divisa(cantidad.value, 'USD')">USD</button>
            <button type="button" class="btn btn-outline-warning" (click)="Divisa(cantidad.value, 'EUR')">EUR</button>
        </div>
    </div>
</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Divisa</th>
            <th scope="col">Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Peso Mexicano</td>
            <td>{{peso|currency:'MXN':'symbol'}}</td>
        </tr>
        <tr>
            <td>Dolar</td>
            <td>{{dolar|currency:'USD':'symbol'}}</td>
        </tr>
        <tr>
            <td>Euro</td>
            <td>{{euro|currency:'EUR':'symbol'}}</td>
        </tr>
    </tbody>
</table>
<br>
<hr>
<h2>Venta de oro</h2>
<form>
    <div class="form-row align-items-center">
        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Gramo" #gramo>
        </div>
        <button type="button" class="btn btn-outline-success" (click)="Oro(gramo.value)">Convertir</button>
    </div>
</form>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Divisa</th>
            <th scope="col">Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">USD</th>
            <td>{{grd|currency:'USD':'symbol'}}</td>
        </tr>
        <tr>
            <th scope="row">MXN</th>
            <td>{{grm|currency:'MXN':'symbol'}}</td>
        </tr>
        <tr>
            <th scope="row">EUR</th>
            <td>{{gre|currency:'EUR':'symbol'}}</td>
        </tr>
    </tbody>
</table>