<!-- Footer -->
<hr class="center col-9">
<footer class="page-footer font-small">
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Sobre la pagina</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Esta pagina web se realizo como Actividad de la materia Topicos II
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Unidades</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a [routerLink]="['/Compra']">Compra</a>
                </p>
                <p>
                    <a [routerLink]="['/Venta']">Venta</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    New York, NY 10012, US
                </p>
                <p>
                    info@example.com
                </p>
                <p>
                    + 01 234 567 88
                </p>
                <p>
                    + 01 234 567 88
                </p>
            </div>
        </div>
    </div>
    <hr class="center col-10">
    <div class="footer-copyright text-center py-3">2018 Create by:
        <a>J. Salvador Alcalá A.</a>
    </div>
</footer>